html, body, #root {
  height: 100%;
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skill-list {
  margin-left: 200px;
  width: 200px;
}

ul.skill-list > li {
  list-style: none;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  color: dimgrey;
  margin: 20px 0 20px 0;
}

ul.skill-list > li:hover {
  cursor: pointer;
  animation: COLOR 1.5s step-end infinite;
}

@keyframes COLOR {
  0% { color: plum; }
  12% { color: green; }
  24% { color: yellow; }
  36% { color: blue; }
  48% { color: orange; }
  60% { color: deeppink; }
  72% { color: burlywood; }
  84% { color: red; }
}


@-webkit-keyframes COLOR {
  0% { color: plum; }
  12% { color: green; }
  24% { color: yellow; }
  36% { color: blue; }
  48% { color: orange; }
  60% { color: deeppink; }
  72% { color: burlywood; }
  84% { color: red; }
}


@-moz-keyframes COLOR {
  0% { color: plum; }
  12% { color: green; }
  24% { color: yellow; }
  36% { color: blue; }
  48% { color: orange; }
  60% { color: deeppink; }
  72% { color: burlywood; }
  84% { color: red; }
}

footer {
  position: absolute;
  bottom: 0;  
}

i.fa {
  font-size: 30px;
  margin: 5px;
}

.fa-github {
  color: red;
}

.fa-linkedin-square {
  color: blue;
}
