html, body, #root {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: dimgrey;
}

.app-container {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 25%;
}

.skill-list {
  width: 250px;
}

ul.skill-list > li {
  list-style: none;
  font-size: 30px;
  margin: 20px 0 20px 0;
}

ul.skill-list > li > a:hover {
  cursor: pointer;
  animation: COLOR 1.2s step-end infinite;
}

a {
  color: dimgrey;
  text-decoration: none;
}

@keyframes COLOR {
  0% { color: plum; }
  12% { color: green; }
  24% { color: yellow; }
  36% { color: blue; }
  48% { color: orange; }
  60% { color: deeppink; }
  72% { color: burlywood; }
  84% { color: red; }
}


@-webkit-keyframes COLOR {
  0% { color: plum; }
  12% { color: green; }
  24% { color: yellow; }
  36% { color: blue; }
  48% { color: orange; }
  60% { color: deeppink; }
  72% { color: burlywood; }
  84% { color: red; }
}


@-moz-keyframes COLOR {
  0% { color: plum; }
  12% { color: green; }
  24% { color: yellow; }
  36% { color: blue; }
  48% { color: orange; }
  60% { color: deeppink; }
  72% { color: burlywood; }
  84% { color: red; }
}

.content {
  width: 600px;
  padding: 20px 0px 20px 40px;
}

footer {
  position: absolute;
  bottom: 0;  
}

i.fa {
  font-size: 30px;
  margin: 5px;
}

.fa-github {
  color: red;
}

.fa-linkedin-square {
  color: blue;
}

aside {
  border-left: 3px solid dimgrey;
}

.plum { color: plum; }
.green { color: green; }
.yellow { color: yellow; }
.orange { color: orange; }
.deeppink { color: deeppink }
.burlywood { color: burlywood; }
ul.skill-list > li > a.selected:hover { animation: none } 

.content {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about > h4 {
  margin-bottom: 30px;
  font-style: italic;
}

.about > summary {
  line-height: 22px;
}

.about > ul {
  list-style: circle inside;
  margin-left: 20px;
  line-height: 22px;
}

.about span {
  margin-left: -10px;
}






